body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.header-login a {
    text-decoration: none;
    color: #ff9900;
}

.login-section {
    text-align: center;
    padding: 20px;
}

.login-banner {
    background-color: #4CAF50;
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-banner h1 {
    margin: 0 20px;
}

.header-image {
    height: 100px;
}

.login-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    display: flex;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-left, .login-right {
    flex: 1;
    padding: 20px;
}

.login-left {
    background-color: #563008;
    color: #fff;
}

.login-left h2 {
    margin-top: 0;
}

.login-right form {
    display: flex;
    flex-direction: column;
}

.login-right label {
    margin-top: 10px;
}

.login-right input {
    padding: 8px;
    margin-top: 5px;
}

.login-right button {
    margin-top: 20px;
    padding: 10px;
    background-color: #563008;
    border: none;
    color: #fff;
    cursor: pointer;
}

.login-right button[type="button"] {
    background-color: #563008;
    color: white;
}

footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin-right: 20px;
}

.footer-content a {
    text-decoration: none;
    color: #563008;
    font-size: 14px;
    font-weight: bold;
}

.pipe {
    display: inline-block; /* Allow inline display */
    vertical-align: middle; /* Vertically align with text */
    margin: 0 5px; /* Add horizontal margin */
    color: #563008; /* Set pipe color */
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #563008;
    color: #ff9900;
    margin-bottom: 20px;
}

.banner img {
    width: 20%;
    height: auto;
    border-radius: 10px;
}

.banner h1 {
    font-size: 50px;
    text-align: center;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-container a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px #F0AB0F;
    border-radius: 5px;
    margin-right: 10px;
}

.login-container a:hover {
    background-color: #F0AB0F;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
}
